In [1]:
# 文字列の逆順
text = 'stressed'
print(text[::-1])

desserts

In [2]:
# 「パタトクカシーー」
text = "パタトクカシーー"
print(text[::2])

パトカー

In [4]:
# 「パトカー」＋「タクシー」＝「パタトクカシーー」
text1 = "パトカー"
text2 = "タクシー"

print("".join(i+j for i, j in zip(text1, text2)))

パタトクカシーー

In [13]:
# 円周率
text = "Now I need a drink, alcoholic of course, after the heavy lectures involving quantum mechanics."

ans = [len(i.strip(".,")) for i in text.split()]
print(ans)

[3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5, 8, 9, 7, 9]

In [20]:
# 元素記号
text = "Hi He Lied Because Boron Could Not Oxidize Fluorine. New Nations Might Also Sign Peace Security Clause. Arthur King Can."
ans = {word[:2-(i in [1, 5, 6, 7, 8, 9, 15, 16, 19])]: i for i, word in enumerate(text.replace(".", "").split(), 1)}
print(ans)

{'H': 1, 'He': 2, 'Li': 3, 'Be': 4, 'B': 5, 'C': 6, 'N': 7, 'O': 8, 'F': 9, 'Ne': 10, 'Na': 11, 'Mi': 12, 'Al': 13, 'Si': 14, 'P': 15, 'S': 16, 'Cl': 17, 'Ar': 18, 'K': 19, 'Ca': 20}

In [2]:
# n-gram
def n_gram(target, n):
    return [target[idx:idx + n] for idx in range(len(target) - n + 1)]


text = 'I am an NLPer'
for i in range(1, 4):
    print(n_gram(text, i))
    print(n_gram(text.split(' '), i))

['I', ' ', 'a', 'm', ' ', 'a', 'n', ' ', 'N', 'L', 'P', 'e', 'r']
[['I'], ['am'], ['an'], ['NLPer']]
['I ', ' a', 'am', 'm ', ' a', 'an', 'n ', ' N', 'NL', 'LP', 'Pe', 'er']
[['I', 'am'], ['am', 'an'], ['an', 'NLPer']]
['I a', ' am', 'am ', 'm a', ' an', 'an ', 'n N', ' NL', 'NLP', 'LPe', 'Per']
[['I', 'am', 'an'], ['am', 'an', 'NLPer']]

In [3]:
# 集合

X_text = 'paraparaparadise'
Y_text = 'paragraph'
X = n_gram(X_text, 2)
Y = n_gram(Y_text, 2)

print(f'和集合: {set(X) | set(Y)}')
print(f'積集合: {set(X) & set(Y)}')
print(f'差集合: {set(X) - set(Y)}')
print('se' in (set(X) & set(Y)))

和集合: {'is', 'se', 'ag', 'ap', 'ad', 'gr', 'ar', 'ra', 'di', 'pa', 'ph'}
積集合: {'ar', 'ra', 'ap', 'pa'}
差集合: {'se', 'di', 'is', 'ad'}
False

In [4]:
# テンプレートによる文生成

def gen_text(x, y, z):
    return f'{x}時の{y}は{z}'

x = 12
y = '気温'
z = 22.4
print(gen_text(x, y, z))

12時の気温は22.4

In [5]:
# 暗号文

def cipher(text):
    text = [chr(219 - ord(w)) if 97 <= ord(w) <= 122 else w for w in text]
    return ''.join(text)


text = 'this is a message.'
ans = cipher(text)
print(ans)
ans = cipher(ans)
print(ans)

gsrh rh z nvhhztv.
this is a message.

In [6]:
# Typoglycemia

import random


def shuffleWord(word):
    if len(word) <= 4:
        return word
    else:
        start = word[0]
        end = word[-1]
        others = random.sample(list(word[1:-1]), len(word[1:-1]))
        return ''.join([start] + others + [end])


text = 'I couldn’t believe that I could actually understand what I was reading : the phenomenal power of the human mind .'
ans = [shuffleWord(w) for w in text.split()]
print(ans)

['I', 'c’dnolut', 'bieelve', 'that', 'I', 'cloud', 'atullcay', 'unedrtsnad', 'what', 'I', 'was', 'riednag', ':', 'the', 'phaoenenml', 'power', 'of', 'the', 'hmuan', 'mind', '.']

In [12]:
# 行数のカウント

import pandas as pd

df = pd.read_csv('./popular-names.txt', sep='\t', header=None)

print(len(df))

2780

In [15]:
# タブをスペースに変換

import pandas as pd

df = pd.read_csv('./popular-names.txt', sep='\t', header=None)
df.to_csv('ans11.txt', sep=' ', index=False, header=None)

In [13]:
# 1列目をcol1.txtに2列目をcol2.txtに保存

import pandas as pd

df = pd.read_csv('./popular-names.txt', sep='\t', header=None)
df[0].to_csv('col1.txt', index=False, header=None)
df[1].to_csv('col2.txt', index=False, header=None)

In [14]:
# col1.txtとcol2.txtをマージ
import pandas as pd

c1 = pd.read_csv('col1.txt', header=None)
c2 = pd.read_csv('col2.txt', header=None)

df = pd.concat([c1, c2], axis=1)
df.to_csv('ans13.txt', sep='\t', index=False, header=None)

In [17]:
# 先頭からN行を出力

import sys
import pandas as pd

if len(sys.argv) == 1:
    print('引数がすくない')
else:
    n = int(sys.argv[1])
    df = pd.read_csv('./popular-names.txt', sep='\t', header=None)
    print(df.head(n))

-f
              0  1      2     3
0          Mary  F   7065  1880
1          Anna  F   2604  1880
2          Emma  F   2003  1880
3     Elizabeth  F   1939  1880
4        Minnie  F   1746  1880
5      Margaret  F   1578  1880
6           Ida  F   1472  1880
7         Alice  F   1414  1880
8        Bertha  F   1320  1880
9         Sarah  F   1288  1880
10         John  M   9655  1880
11      William  M   9532  1880
12        James  M   5927  1880
13      Charles  M   5348  1880
14       George  M   5126  1880
15        Frank  M   3242  1880
16       Joseph  M   2632  1880
17       Thomas  M   2534  1880
18        Henry  M   2444  1880
19       Robert  M   2415  1880
20         Mary  F   6919  1881
21         Anna  F   2698  1881
22         Emma  F   2034  1881
23    Elizabeth  F   1852  1881
24     Margaret  F   1658  1881
25       Minnie  F   1653  1881
26          Ida  F   1439  1881
27        Annie  F   1326  1881
28       Bertha  F   1324  1881
29        Alice  F   1308  1881
...         ... ..    ...   ...
2750       Liam  M  18798  2017
2751       Noah  M  18410  2017
2752    William  M  14967  2017
2753      James  M  14291  2017
2754      Logan  M  14014  2017
2755   Benjamin  M  13797  2017
2756      Mason  M  13549  2017
2757     Elijah  M  13344  2017
2758     Oliver  M  13193  2017
2759      Jacob  M  13178  2017
2760       Emma  F  18688  2018
2761     Olivia  F  17921  2018
2762        Ava  F  14924  2018
2763   Isabella  F  14464  2018
2764     Sophia  F  13928  2018
2765  Charlotte  F  12940  2018
2766        Mia  F  12642  2018
2767     Amelia  F  12301  2018
2768     Harper  F  10582  2018
2769     Evelyn  F  10376  2018
2770       Liam  M  19837  2018
2771       Noah  M  18267  2018
2772    William  M  14516  2018
2773      James  M  13525  2018
2774     Oliver  M  13389  2018
2775   Benjamin  M  13381  2018
2776     Elijah  M  12886  2018
2777      Lucas  M  12585  2018
2778      Mason  M  12435  2018
2779      Logan  M  12352  2018

[2780 rows x 4 columns]

In [19]:
# 末尾のN行を出力

import sys
import pandas as pd

if len(sys.argv) == 1:
    print('引数が少ない')
else:
    n = int(sys.argv[1])
    df = pd.read_csv('./popular-names.txt', sep='/t', header=None)
    print(df.tail(n))

ValueError: invalid literal for int() with base 10: '-f'

In [ ]:
# 16

import sys
import pandas as pd

if len(sys.argv) == 1:
    print('引数が少ない')
else:
    n = int(sys.argv[1])
    df = pd.read_csv('./popular-names.txt', sep='\t', header=None)
    nrow = -(-len(df)//n)

    for i in range(n):
        df.loc[nrow * i:row * (i + 1)].to_csv(f'ans16_{i}', sep='\t', index=False, header=None)

In [21]:
# 1列目の文字列の異なり

import pandas as pd


df = pd.read_csv('./popular-names.txt', sep='\t', header=None)
print(df[0].unique())

['Mary' 'Anna' 'Emma' 'Elizabeth' 'Minnie' 'Margaret' 'Ida' 'Alice'
 'Bertha' 'Sarah' 'John' 'William' 'James' 'Charles' 'George' 'Frank'
 'Joseph' 'Thomas' 'Henry' 'Robert' 'Annie' 'Edward' 'Clara' 'Florence'
 'Ethel' 'Bessie' 'Harry' 'Helen' 'Ruth' 'Marie' 'Lillian' 'Mildred'
 'Dorothy' 'Frances' 'Walter' 'Evelyn' 'Virginia' 'Richard' 'Betty'
 'Donald' 'Doris' 'Shirley' 'Barbara' 'Patricia' 'Joan' 'Nancy' 'Carol'
 'David' 'Ronald' 'Judith' 'Linda' 'Sandra' 'Carolyn' 'Sharon' 'Michael'
 'Susan' 'Donna' 'Larry' 'Kathleen' 'Deborah' 'Gary' 'Karen' 'Debra'
 'Pamela' 'Cynthia' 'Mark' 'Steven' 'Lisa' 'Jeffrey' 'Lori' 'Kimberly'
 'Tammy' 'Angela' 'Michelle' 'Jennifer' 'Melissa' 'Christopher' 'Brian'
 'Amy' 'Laura' 'Tracy' 'Julie' 'Jason' 'Scott' 'Stephanie' 'Heather'
 'Nicole' 'Matthew' 'Rebecca' 'Jessica' 'Amanda' 'Daniel' 'Kelly' 'Joshua'
 'Crystal' 'Ashley' 'Megan' 'Brittany' 'Andrew' 'Justin' 'Samantha'
 'Lauren' 'Emily' 'Brandon' 'Tyler' 'Taylor' 'Nicholas' 'Jacob' 'Hannah'
 'Austin' 'Alexis' 'Rachel' 'Madison' 'Abigail' 'Olivia' 'Ethan' 'Anthony'
 'Isabella' 'Ava' 'Sophia' 'Chloe' 'Alexander' 'Mia' 'Jayden' 'Noah'
 'Aiden' 'Mason' 'Liam' 'Charlotte' 'Harper' 'Benjamin' 'Elijah' 'Amelia'
 'Logan' 'Oliver' 'Lucas']

In [22]:
# 各行を3コラム目の数値の降順にソート

import pandas as pd

df = pd.read_csv('./popular-names.txt', sep='\t', header=None)
print(df.sort_values(2, ascending=False))

0  1      2     3
1340      Linda  F  99689  1947
1360      Linda  F  96211  1948
1350      James  M  94757  1947
1550    Michael  M  92704  1957
1351     Robert  M  91640  1947
1380      Linda  F  91016  1949
1530    Michael  M  90656  1956
1570    Michael  M  90517  1958
1370      James  M  88584  1948
1490    Michael  M  88528  1954
1510    Michael  M  88327  1955
1352       John  M  88319  1947
1330      James  M  87436  1946
1430      James  M  87261  1951
1450      James  M  87063  1952
1630    Michael  M  86917  1961
1390      James  M  86857  1949
1451     Robert  M  86604  1952
1431     Robert  M  86351  1951
1491     Robert  M  86298  1954
1492      James  M  86272  1954
1470     Robert  M  86256  1953
1511      David  M  86253  1955
1410      James  M  86224  1950
1471      James  M  86099  1953
1610      David  M  85929  1960
1371     Robert  M  85475  1948
1810    Michael  M  85302  1970
1590    Michael  M  85251  1959
1790    Michael  M  85203  1969
...         ... ..    ...   ...
129    Florence  F   1860  1886
107      Bertha  F   1860  1885
108         Ida  F   1854  1885
87        Clara  F   1852  1884
23    Elizabeth  F   1852  1881
399       Henry  M   1831  1899
45     Margaret  F   1821  1882
88       Bertha  F   1789  1884
4        Minnie  F   1746  1880
89        Annie  F   1739  1884
109       Annie  F   1703  1885
66       Bertha  F   1681  1883
46          Ida  F   1673  1882
24     Margaret  F   1658  1881
25       Minnie  F   1653  1881
67          Ida  F   1634  1883
68        Annie  F   1589  1883
5      Margaret  F   1578  1880
69        Clara  F   1548  1883
47        Alice  F   1542  1882
48       Bertha  F   1508  1882
49        Annie  F   1492  1882
6           Ida  F   1472  1880
26          Ida  F   1439  1881
7         Alice  F   1414  1880
27        Annie  F   1326  1881
28       Bertha  F   1324  1881
8        Bertha  F   1320  1880
29        Alice  F   1308  1881
9         Sarah  F   1288  1880

[2780 rows x 4 columns]

In [24]:
# 各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる

import pandas as pd


df = pd.read_csv('./popular-names.txt', sep='\t', header=None)
print(df[0].value_counts())

James          118
William        111
Robert         108
John           108
Mary            92
Charles         75
Michael         74
Elizabeth       73
Joseph          70
Margaret        60
George          58
Thomas          58
David           57
Richard         51
Helen           45
Frank           43
Christopher     43
Anna            41
Edward          40
Ruth            39
Patricia        38
Matthew         37
Dorothy         36
Emma            35
Barbara         32
Daniel          31
Joshua          31
Jennifer        26
Linda           26
Emily           26
              ...
Kathleen         4
Justin           4
Benjamin         4
Chloe            4
Austin           4
Lillian          4
Harper           3
Aiden            3
Megan            3
Elijah           3
Evelyn           3
Larry            2
Lauren           2
Oliver           2
Rebecca          2
Amelia           2
Bessie           2
Logan            2
Julie            1
Scott            1
Walter           1
Carolyn          1
Lucas            1
Laura            1
Rachel           1
Crystal          1
Lori             1
Pamela           1
Tracy            1
Kelly            1
Name: 0, Length: 136, dtype: int64

In [26]:
# JSONデータの読み込み

import pandas as pd

df = pd.read_json('./jawiki-country.json.gz', lines=True)
ukText = df.query('title=="イギリス"')['text'].values[0]
print(ukText)

UnicodeDecodeError: 'cp932' codec can't decode byte 0x85 in position 87: illegal multibyte sequence